{%- comment -%}
  Include as: {%- include components/nav/pages.html pages=page_array all=bool -%}
  Depends on: include.pages.
  Results in: HTML for the main navigation when all is nil or false;
    adds links to pages excluded from the main navigation when all is true.
  Includes: components/nav/links.html
  Assigns to:
    nav_parenthood, nav_top_nodes, nav_top_node_titles, nav_ancestors.
{%- endcomment -%}

{% assign nav_parenthood = "" | split: "," %} <!-- Initialize as an empty array -->

{% assign passed_in_pages = include.pages | where_exp: "item", "item.title != nil" %}

{% for page in passed_in_pages %}
  {% if page.parent %}
    {% for parent_value in page.parent %}
      {% assign existing_group = nav_parenthood | where: "name", parent_value | first %}

      {% if existing_group %}
        <!-- Extract existing pages and add the new page -->
        {% assign updated_items = existing_group.items | push: page %}
        {% assign nav_parenthood = nav_parenthood | where_exp: "item", "item.name != parent_value" %}
        {% assign nav_parenthood = nav_parenthood | push: updated_items %}
      {% else %}
        <!-- Create a new group for this parent -->
        {% assign new_group = nav_parenthood | push: 
          site.data.empty_hash | merge: 
          '{"name": parent_value, "items": page | split: ","}' %}
        {% assign nav_parenthood = new_group %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
<!-- {%- assign nav_parenthood = include.pages
      | where_exp: "item", "item.title != nil" | group_by: "parent" -%}      -->

{%- assign nav_top_nodes = nav_parenthood
      | where_exp: "item", "item.name == ''" | map: "items" | first -%}

{%- include components/nav/sorted.html pages=nav_top_nodes -%}

{% assign nav_top_node_titles = nav_top_nodes | map: "title" -%}

{%- assign nav_ancestors = "" | split: "" -%}

{%- include components/nav/links.html pages=nav_sorted ancestors=nav_ancestors all=include.all -%}
