<nav class="nav">
    <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/tracexi/" class="nav__link">
                    <span class="nav__name chinese-blog">习的事</span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/oldpoem/" class="nav__link">
                    <span class="nav__name chinese-blog">古的诗</span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/mypoem/" class="nav__link">
                    <span class="nav__name chinese-blog">博士的事和诗</span>
                </a>
            </li>
        </ul>
    </div>
</nav>