---
layout: base
---

<h1 class="post-title p-name" itemprop="name headline" style="font-family: 'ZCOOL KuaiLe', 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;">{{ page.cipaiming | escape }}</h1>
<h3 class="post-title p-name" itemprop="name headline" style="font-family: 'ZCOOL KuaiLe', 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;">{{ page.zuozhe | escape }}</h4>
<h4 class="post-title p-name" itemprop="name headline" style="font-family: 'ZCOOL KuaiLe', 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;">{{ page.timu | escape }}</h4>

<div class="post-content e-content" itemprop="articleBody">
  {{ content }}
</div>
